:root { 
--green_300:#71d18c; 
--gray_50_01:#f8f8f8; 
--gray_50_02:#fafafa; 
--blue_A400:#367cff; 
--green_300_0a:#6ee2800a; 
--red_400:#af6152; 
--indigo_900_11:#071c5411; 
--black_900_01:#0a0a0a; 
--yellow_800:#dba31d; 
--blue_gray_100_1c:#cecece1c; 
--blue_gray_900_02:#333333; 
--blue_gray_900_01:#292a2e; 
--indigo_900_16:#071c5416; 
--blue_gray_900:#191847; 
--yellow_800_01:#f0b21f; 
--black_900_05:#00000005; 
--teal_A700:#0cbc8b; 
--gray_400:#b8b8b8; 
--black_900_0a:#0000000a; 
--blue_gray_100:#d9d9d9; 
--gray_800:#494949; 
--blue_gray_100_38:#d9d9d938; 
--green_300_07:#6ee28007; 
--indigo_A700:#0040ec; 
--green_300_02:#6ee28002; 
--indigo_900_03:#0d2d83; 
--indigo_900_04:#08205f; 
--indigo_900_01:#081b56; 
--indigo_900_02:#052987; 
--indigo_900_05:#071c5405; 
--indigo_900_06:#0d2972; 
--black_900_14:#00000014; 
--indigo_900_1e:#071c541e; 
--blue_gray_100_01:#cccccc; 
--blue_gray_100_02:#d3d3d3; 
--blue_gray_100_03:#d1d1d1; 
--blue_gray_100_04:#c5cfd6; 
--red_300:#b28b67; 
--blue_gray_100_05:#c1dee2; 
--blue_gray_100_06:#d5d5d5; 
--blue_gray_100_07:#d4d4d4; 
--green_A200:#50ec7c; 
--gray_50:#fbfbfb; 
--white_A700_30:#ffffff30; 
--green_300_38:#6ee28038; 
--gray_500_01:#a6a6a6; 
--green_300_33:#6ee28033; 
--white_A700_38:#ffffff38; 
--green_400_01:#4feb7b; 
--blue_gray_200:#afb9c5; 
--gray_500:#ababab; 
--indigo_900_0c:#071c540c; 
--gray_900:#171717; 
--red_300_01:#c8856a; 
--gray_100:#f6f6f6; 
--indigo_900_23:#071c5423; 
--green_100:#cbf2d6; 
--gray_500_23:#aaaaaa23; 
--gray_200_01:#e7e7e7; 
--deep_orange_300:#e98862; 
--gray_200_02:#ededed; 
--blue_gray_700:#455a64; 
--gray_200_03:#ebebeb; 
--gray_200_04:#f0f0f0; 
--gray_600:#997659; 
--amber_700:#fca311; 
--gray_200:#eaeaea; 
--gray_100_03:#f5f5f5; 
--gray_100_02:#f4f4f4; 
--gray_400_01:#c4c4c4; 
--gray_400_02:#c5c5c5; 
--gray_100_01:#f2f2f2; 
--white_A700:#ffffff; 
--white_A700_5e:#ffffff5e; 
--red_500:#ff3636; 
--teal_200:#89c5cc; 
--green_400:#3ed769; 
--black_900:#000000; 
--yellow_700:#fab91d; 
--blue_gray_800:#37474f; 
--deep_orange_200:#ffa8a7; 
--gray_900_02:#041235; 
--gray_900_03:#262626; 
--gray_700:#874c4c; 
--gray_900_04:#04102e; 
--gray_900_05:#001833; 
--blue_gray_900_04:#02273a; 
--indigo_900_4f:#071c544f; 
--gray_900_01:#041135; 
--blue_gray_900_03:#263238; 
--gray_300_04:#e6e6e6; 
--gray_300_03:#e0e0e0; 
--gray_300:#dbdbdb; 
--gray_300_02:#e4e4e4; 
--gray_300_01:#dde3e9; 
--white_A700_86:#ffffff86; 
--white_A700_01:#fffffa; 
--green_300_66:#6ee28066; 
--indigo_900:#071c54; 
--green_300_61:#71d18c61; 
}